<mat-checkbox [(ngModel)]="critical" (change)="fire()">Critical</mat-checkbox>

<ul>
    <li><mat-checkbox [(ngModel)]="serverAuth" (change)="fire()" matTooltipPosition="right"
            matTooltip="KeyUsage should contain Digital signature, key encipherment or key agreement.">ServerAuth</mat-checkbox>
    </li>
    <li><mat-checkbox [(ngModel)]="clientAuth" (change)="fire()" matTooltipPosition="right"
            matTooltip="KeyUsage should contain Digital signature and/or key agreement.">ClientAuth</mat-checkbox></li>

    <li><mat-checkbox [(ngModel)]="codeSigning" (change)="fire()" matTooltipPosition="right"
            matTooltip="KeyUsage should contain Digital signature. Must not contain keyCertSign and crlSign">CodeSigning</mat-checkbox></li>

    <li><mat-checkbox [(ngModel)]="emailProtection" (change)="fire()" matTooltipPosition="right"
        matTooltip="KeyUsage should contain Digital signature and non-repudiation.">EmailProtection
            (S-MIME)</mat-checkbox></li>
            
    <li><mat-checkbox [(ngModel)]="timeStamping" (change)="fire()" matTooltipPosition="right"
            matTooltip="KeyUsage should contain Digital signature and non-repudiation. Not other ExtendedKeyUsage must be set!">TimeStamping</mat-checkbox></li>

    <li><mat-checkbox [(ngModel)]="ocspSigning" (change)="fire()">OCSPSigning</mat-checkbox></li>
</ul>

<app-string-list [title]="'Additonal Key Usages'" [label]="'OID'" [placeholder]="'1.2.3.4'" [(config)]="oids"
    (configChange)="fire()"></app-string-list>