<div style="display: flex;flex-direction:column; gap:1em; margin: 1em;">
    <mat-card>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Key Credentials</mat-card-title>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <app-credentials-value [(credentials)]="item"></app-credentials-value>
        </mat-card-content>
        <mat-card-actions align="end" style="gap:1em">
            <button mat-button (click)="cancel()">Cancel</button>
            <button mat-flat-button color="accent" (click)="update()" [disabled]="!hasChange">Update</button>
        </mat-card-actions>
    </mat-card>
</div>
&nbsp;