<div style="display: flex;flex-direction:column; gap:1em; margin: 1em;">
    <mat-card>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Key Credentials</mat-card-title>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <mat-expansion-panel #panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Create Credentials</mat-panel-title>
                </mat-expansion-panel-header>

                <app-credentials-value [(credentials)]="item" [(keyPassword)]="password"></app-credentials-value>

                <mat-action-row>
                    <button mat-button (click)="reset()">Reset</button>
                    <button mat-flat-button color="accent" (click)="add()" [disabled]="(item?.description?.kind ?? KeyCredentialsKind.None) == KeyCredentialsKind.None">Add</button>
                </mat-action-row>
            </mat-expansion-panel>
            <br>
            <mat-divider></mat-divider>
            <div *ngFor="let key of getKeys()">
                <div style="display: flex;align-items: center;">
                    <mat-list style="flex: 1;">
                        <mat-list-item>
                            <span matListItemTitle>{{ this.credentials[key].description?.label ?? key }}</span>
                            <span>{{ KeyCredentialsKind[this.credentials[key].description?.kind ?? KeyCredentialsKind.None] }}</span>
                        </mat-list-item>
                    </mat-list>
                    <button mat-icon-button (click)="open(key)"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button color="warn" (click)="remove(key)"><mat-icon>delete</mat-icon></button>
                </div>
                <mat-divider></mat-divider>
            </div>
        </mat-card-content>
    </mat-card>
</div>
&nbsp;