<mat-stepper orientation="vertical" [linear]="isLinear" #stepper [selectedIndex]="params.stepperIndex"
    (selectionChange)="selectedIndexChange($event)">
    <mat-step [completed]="completedGetStarted">
        <form>
            <ng-template matStepLabel>Get Started</ng-template>
            <mat-card [appearance]="'outlined'">
                <mat-card-header>
                    <mat-card-title>Create a certificate revocation list (CRL)</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    Start your journey to the creation of a certificate revocation list (CRL). You can find more info in
                    the <a href="/doc#CRL" matTooltip="Open Documentation" aria-label="Open Documentation icon-button">
                        documentation</a>.
                    <p>
                        <br>
                        <app-file-input [hideInput]="true" [readPlainText]="true" [isRaw]="true" [label]="'Import'"
                            (contentChange)="import($event)"></app-file-input>
                    </p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button [color]="completedDone ? '' : 'warn'" (click)="reset()">Reset</button>
                    <button mat-flat-button color="accent" matStepperNext>Next</button>
                </mat-card-actions>
            </mat-card>
        </form>
    </mat-step>

    <mat-step [completed]="completedIssuer" [optional]="false">
        <ng-template matStepLabel>Issuer
            <a href="/doc#Issuer" target="_blank" matTooltip="Open Documentation"
                aria-label="Open Documentation icon-button">(doc)</a>
        </ng-template>

        <mat-card [appearance]="'outlined'">
            <mat-card-content>
                <app-issuer [(cert)]="issuer" [(keyPair)]="keyPair"></app-issuer>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-stroked-button (click)="issuer = undefined;keyPair = undefined" [disabled]="issuer == null">Clear</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button color="accent" matStepperNext>Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>


    <mat-step [completed]="completedCrl" [optional]="true">
        <ng-template matStepLabel>Existing CRL
            <a href="/doc#CRL" target="_blank" matTooltip="Open Documentation"
                aria-label="Open Documentation icon-button">(doc)</a>
        </ng-template>

        <mat-card [appearance]="'outlined'">
            <mat-card-content>
                <app-file-input [(content)]="crl" [label]="'CRL'" [isRaw]="true" [hideRaw]="true"></app-file-input>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-stroked-button (click)="crl = undefined;" [disabled]="crl == null">Clear</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button color="accent" matStepperNext>Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>

    <mat-step [completed]="completedCrlNumber" [optional]="true">
        <ng-template matStepLabel>CRL Number
            <a href="/doc#CRLNumber" target="_blank" matTooltip="Open Documentation"
                aria-label="Open Documentation icon-button">(doc)</a>
        </ng-template>

        <mat-card [appearance]="'outlined'">
            <mat-card-content>
                <app-byte-number [(config)]="crlNumber" [label]="'CRL Number'" [inputName]="'crlNumber'"></app-byte-number>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-stroked-button (click)="crlNumber = undefined" [disabled]="crlNumber == null">Clear</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button color="accent" matStepperNext>Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>

    
    <mat-step [completed]="completedEntries" [optional]="true">
        <ng-template matStepLabel>Certificates to revoke
            <a href="/doc#RevokedCertificates" target="_blank" matTooltip="Open Documentation"
                aria-label="Open Documentation icon-button">(doc)</a>
        </ng-template>

        <mat-card [appearance]="'outlined'">
            <mat-card-content>
                <app-crl-entries [(config)]="crlEntries"></app-crl-entries>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-stroked-button (click)="crlEntries = undefined" [disabled]="crlEntries == null">Clear</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button color="accent" matStepperNext>Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>
    
    <mat-step [completed]="completedValidity" [optional]="true">
        <ng-template matStepLabel>Validity
            <a href="/doc#CRLValidity" target="_blank" matTooltip="Open Documentation" aria-label="Open Documentation icon-button">(doc)</a>
        </ng-template>

        <mat-card [appearance]="'outlined'">
            <mat-card-content>
                <app-crl-validity [(config)]="validity"></app-crl-validity>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-stroked-button (click)="validity = undefined" [disabled]="validity == null">Clear</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button color="accent" matStepperNext>Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>

    <mat-step [completed]="completedHashAlgorithm" [optional]="true">
        <ng-template matStepLabel>Hash Algorithm
            <a href="/doc#HashAlgorithm" target="_blank" matTooltip="Open Documentation" aria-label="Open Documentation icon-button">(doc)</a>
        </ng-template>

        <mat-card [appearance]="'outlined'">
            <mat-card-content>
                <app-hash-algorithm [(hashAlgorithm)]="config.hashAlgorithm" [hint]="'The hash algorithm to use for signing the CRL.'"></app-hash-algorithm>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-stroked-button (click)="config.hashAlgorithm = undefined" [disabled]="config.hashAlgorithm == null">Clear</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button color="accent" matStepperNext>Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>

    <mat-step [completed]="completedDone">
        <ng-template matStepLabel>Create</ng-template>

        <mat-card [appearance]="'outlined'">
            <mat-card-content>
                <span>If you are ready, click create.</span>
                <mat-form-field appearance="outline">
                    <mat-label>Container Format</mat-label>
                    <mat-select [(ngModel)]="accepts">
                        <mat-option
                            *ngFor="let enum of (MediaType | keyvalue).slice(0, (MediaType | keyvalue).length / 2)"
                            [value]="Number(enum.key)">
                            {{enum.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Encoding</mat-label>
                    <mat-select [value]="fileFormat">
                        <mat-option
                            *ngFor="let enum of (X509Encoding | keyvalue).slice(0, (X509Encoding | keyvalue).length / 2)"
                            [value]="Number(enum.key)">
                            {{enum.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <p>
                    <button mat-stroked-button aria-label="Export config icon button" matTooltip="Export config"
                        (click)="export()"><mat-icon>download</mat-icon> Export</button>
                </p>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button [color]="completedDone ? '' : 'warn'" (click)="reset()">Reset</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" (click)="create()" [disabled]="!ready">Create</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>
</mat-stepper>