<mat-form-field>
    <mat-label>Label</mat-label>
    <input matInput type="text" [(ngModel)]="label" name="credentialsDescriptionLabel">
</mat-form-field>

<mat-form-field>
    <mat-label>Details</mat-label>
    <input matInput type="text" [(ngModel)]="details" name="credentialsDescriptionDetails">
</mat-form-field>

<mat-form-field>
    <mat-label>Credentials Kind</mat-label>
    <mat-select [(ngModel)]="kind" name="credentialsKind">
        <mat-option *ngFor="let enum of KeyCredentialsKind | enumkeyvalue"
            [value]="enum.key">{{enum.value}}</mat-option>
    </mat-select>
</mat-form-field>

<mat-card [appearance]="'outlined'" *ngIf="kind != KeyCredentialsKind.None && kind != KeyCredentialsKind.Anonymous">
    <mat-card-content>

        <ng-container *ngIf="kind == KeyCredentialsKind.UsernamePassword">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput type="text" [(ngModel)]="username" name="credentialsUsernamePasswordUsername">
            </mat-form-field>
            <app-password-field [(password)]="password"></app-password-field>
        </ng-container>


        <ng-container *ngIf="kind == KeyCredentialsKind.Certificate">
            <app-file-input [label]="'Certificate'" [name]="'certificate'" [hideRaw]="true" [isRaw]="true" [(content)]="certificate"></app-file-input>
            <app-file-input [label]="'Private Key'" [name]="'keypair'" [hideRaw]="true" [password]="keyPassword" [isRaw]="true" [(content)]="keyPair"></app-file-input>
            <app-password-field [label]="'Password'" [(password)]="keyPassword"></app-password-field>
        </ng-container>

        <ng-container *ngIf="kind == KeyCredentialsKind.Token">
            <mat-form-field>
                <mat-label>TokenType</mat-label>
                <input matInput type="text" name="credentialsTokenTokenType" [(ngModel)]="tokenType" [matAutocomplete]="autoTokenType">

                <mat-autocomplete autoActiveFirstOption #autoTokenType="matAutocomplete">
                    <mat-option *ngFor="let option of optionsTokenType" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field>
                <mat-label>IssuerEndpointUrl</mat-label>
                <input matInput type="text" [(ngModel)]="issuerEndpointUrl" name="credentialsTokenIssuerEndpointUrl">
            </mat-form-field>
            <app-password-field [label]="'Token'" [placeholder]="'Token'" [(password)]="token"></app-password-field>
        </ng-container></mat-card-content>
</mat-card>