<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <a mat-icon-button [routerLink]="['/']" [routerLinkActive]="['link-active']"
      [routerLinkActiveOptions]="{ exact: true }" aria-label="Open Home icon-button" matTooltip="Open Home">
      <mat-icon>home</mat-icon>
    </a>
    <span>SecurityTools</span>
    <!--
  <a mat-icon-button [routerLink]="['/assets']" [routerLinkActive]="['link-active']"
    [routerLinkActiveOptions]="{ exact: true }" aria-label="Open Assets icon-button" matTooltip="Open Assets">
    <mat-icon>hub</mat-icon>
  </a>
  <a mat-icon-button [routerLink]="['/certs']" [routerLinkActive]="['link-active']"
    [routerLinkActiveOptions]="{ exact: true }" aria-label="Open Certificate Stores icon-button"
    matTooltip="Open Certificate Stores">
    <mat-icon>verified_user</mat-icon>
  </a>
  -->
    <a mat-icon-button [routerLink]="['/credentials']" [routerLinkActive]="['link-active']"
      [routerLinkActiveOptions]="{ exact: true }" aria-label="Open Key Credentials icon-button"
      matTooltip="Open Key Credentials">
      <mat-icon>key</mat-icon>
    </a>
    <!--
  <a mat-icon-button [routerLink]="['/software']" [routerLinkActive]="['link-active']"
    [routerLinkActiveOptions]="{ exact: true }" aria-label="Open Software Package List icon-button"
    matTooltip="Open Software Package List">
    <mat-icon><span class="material-symbols-outlined">deployed_code</span></mat-icon>
  </a>
  <a mat-icon-button [routerLink]="['/tools']" [routerLinkActive]="['link-active']"
    [routerLinkActiveOptions]="{ exact: true }" aria-label="Open Tools icon-button" matTooltip="Open Tools">
    <mat-icon>handyman</mat-icon>
  </a>
  -->
    <span class="example-spacer"></span>
    <a mat-icon-button [routerLink]="['/tasks']" [routerLinkActive]="['link-active']"
      [routerLinkActiveOptions]="{ exact: true }" aria-label="Open Tasks icon-button" matTooltip="Open Tasks">
      <mat-icon>list_alt</mat-icon>
    </a>
    <a mat-icon-button [routerLink]="['/log']" [routerLinkActive]="['link-active']" matTooltip="Open Log"
      aria-label="Open Log icon-button">
      <mat-icon>feed</mat-icon>
    </a>
    <a mat-icon-button [routerLink]="['/doc']" [routerLinkActive]="['link-active']" matTooltip="Open Documentation"
      aria-label="Open Documentation icon-button">
      <mat-icon>menu_book</mat-icon>
    </a>
    <a mat-icon-button [routerLink]="['/api-doc']" [routerLinkActive]="['link-active']"
      matTooltip="Open API Documentation" aria-label="Open API Documentation icon-button">
      <mat-icon>api</mat-icon>
    </a>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="isTools()">
    <mat-tab-group [color]="'accent'" [selectedIndex]="index" (selectedIndexChange)="nav($event)">
      <mat-tab label="Key Pair"></mat-tab>
      <mat-tab label="CSR"></mat-tab>
      <mat-tab label="Certificate"></mat-tab>
      <mat-tab label="Self-Sign Certificate"></mat-tab>
      <mat-tab label="CRL"></mat-tab>
      <mat-tab label="Transform"></mat-tab>
    </mat-tab-group>
  </mat-toolbar-row>
</mat-toolbar>
<!--
<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">SecurityTools</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" href="/doc"
              >Documentation</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" href="/api/doc"
              >API</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
-->