
<mat-stepper orientation="vertical" [linear]="isLinear" #stepper [selectedIndex]="params.stepperIndex"
    (selectionChange)="selectedIndexChange($event)">
    <mat-step [completed]="completedGetStarted">
        <form>
            <ng-template matStepLabel>Get Started</ng-template>
            <mat-card [appearance]="'outlined'">
                <mat-card-header>
                    <mat-card-title>Create a certificate</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    Start your journey to the creation of a certificate. You can find more info in the <a href="/doc"
                        matTooltip="Open Documentation" aria-label="Open Documentation icon-button">
                        documentation</a>.
                    <p>
                        <br>
                        <app-file-input [hideInput]="true" [readPlainText]="true" [label]="'Import'" [isRaw]="true"
                            (contentChange)="import($event)"></app-file-input>
                    </p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-button [color]="completedDone ? '' : 'warn'" (click)="reset()">Reset</button>
                    <button mat-flat-button color="accent" matStepperNext>Next</button>
                </mat-card-actions>
            </mat-card>
        </form>
    </mat-step>

    <mat-step [completed]="completedCsr" [optional]="false">
        <ng-template matStepLabel>Certificate Signing Request (CSR)
            <a href="/doc#CSR" target="_blank" matTooltip="Open Documentation"
                aria-label="Open Documentation icon-button">(doc)</a>
        </ng-template>

        <mat-card [appearance]="'outlined'">
            <mat-card-content>
                <p>
                    <mat-checkbox [(ngModel)]="config.replaceExtensions">Replace Extensions of CSR</mat-checkbox>
                    <mat-checkbox
                        [(ngModel)]="csrLoadOptionsSkipSignatureValidation">SkipSignatureValidation</mat-checkbox>
                    <mat-checkbox
                        [ngModel]="csrLoadOptionsUnsafeLoadCertificateExtensions">UnsafeLoadCertificateExtensions</mat-checkbox>
                </p>
                <app-file-input [(content)]="csrFile" [label]="'CSR file'" [isRaw]="true"
                    [hideRaw]="true"></app-file-input>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-stroked-button
                    (click)="csr = undefined;csrLoadOptions = CertificateRequestLoadOptions.Default;config.replaceExtensions = undefined"
                    [disabled]="csr == null && csrLoadOptions == CertificateRequestLoadOptions.Default && config.replaceExtensions == null">Clear</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button color="accent" matStepperNext>Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>

    <mat-step [completed]="completedIssuer" [optional]="false">
        <ng-template matStepLabel>Issuer
            <a href="/doc#Issuer" target="_blank" matTooltip="Open Documentation"
                aria-label="Open Documentation icon-button">(doc)</a>
        </ng-template>

        <mat-card [appearance]="'outlined'">
            <mat-card-content>
                <mat-checkbox [(ngModel)]="selfSigned">Self-Signed Certificate</mat-checkbox>
                <app-issuer *ngIf="!selfSigned" [(cert)]="issuer" [(keyPair)]="keyPair"></app-issuer>
                <app-privatekey *ngIf="selfSigned" [(config)]="keyPair"></app-privatekey>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-stroked-button (click)="issuer = undefined;" [disabled]="issuer == null">Clear</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button color="accent" matStepperNext>Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>

    <mat-step [completed]="completedSerialNumber" [optional]="true">
        <ng-template matStepLabel>Serial Number
            <a href="/doc#SerialNumber" target="_blank" matTooltip="Open Documentation"
                aria-label="Open Documentation icon-button">(doc)</a>
        </ng-template>

        <mat-card [appearance]="'outlined'">
            <mat-card-content>
                <app-byte-number [(config)]="serialNumber" [label]="'Serial Number'"
                    [inputName]="'serialNumber'"></app-byte-number>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-stroked-button (click)="serialNumber = undefined"
                    [disabled]="serialNumber == null">Clear</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button color="accent" matStepperNext>Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>

    <mat-step [completed]="completedValidity" [optional]="true">
        <ng-template matStepLabel>Validity
            <a href="/doc#Validity" target="_blank" matTooltip="Open Documentation"
                aria-label="Open Documentation icon-button">(doc)</a>
        </ng-template>

        <mat-card [appearance]="'outlined'">
            <mat-card-content>
                <app-validity [(config)]="validity"></app-validity>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button color="accent" matStepperNext>Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>

    <mat-step [completed]="completedBasicConstraints" [optional]="true">
        <ng-template matStepLabel>
            Basic Constraints
            <a href="/doc#BasicConstraints" target="_blank" matTooltip="Open Documentation"
                aria-label="Open Documentation icon-button">(doc)</a>
        </ng-template>
        <mat-card [appearance]="'outlined'">
            <mat-card-content>
                <app-basic-constraints [(config)]="basicConstraints"></app-basic-constraints>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-stroked-button (click)="basicConstraints = undefined"
                    [disabled]="basicConstraints == null">Clear</button>
                <button mat-stroked-button [matMenuTriggerFor]="basicConstraintsMenu"><span>Default</span></button>
                <mat-menu #basicConstraintsMenu="matMenu">
                    <button mat-menu-item (click)="basicConstraints = ExtensionsDefaults.BasicConstraintsExtensionCA">
                        <span>Set default for CA</span>
                    </button>
                    <button mat-menu-item
                        (click)="basicConstraints = ExtensionsDefaults.BasicConstraintsExtensionEndEntity">
                        <span>Set default for end entity</span>
                    </button>
                </mat-menu>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button color="accent" matStepperNext>Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>

    <mat-step [completed]="completedAuthorityKeyIdentifier" [optional]="true">
        <ng-template matStepLabel>
            Authority Key Identifier
            <a href="/doc#KeyIdentifiers" target="_blank" matTooltip="Open Documentation"
                aria-label="Open Documentation icon-button">(doc)</a>
        </ng-template>
        <mat-card [appearance]="'outlined'">
            <mat-card-content>
                <app-authority-key-identifier [(config)]="authorityKeyIdentifier"></app-authority-key-identifier>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-stroked-button (click)="authorityKeyIdentifier = undefined"
                    [disabled]="authorityKeyIdentifier == null">Clear</button>
                <button mat-stroked-button
                    (click)="authorityKeyIdentifier = ExtensionsDefaults.AuthorityKeyIdentifierExtension"
                    [disabled]="authorityKeyIdentifier != null">Default</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button color="accent" matStepperNext>Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>

    <mat-step [completed]="completedSubjectKeyIdentifier" [optional]="true">
        <ng-template matStepLabel>
            Subject Key Identifier
            <a href="/doc#KeyIdentifiers" target="_blank" matTooltip="Open Documentation"
                aria-label="Open Documentation icon-button">(doc)</a>
        </ng-template>
        <mat-card [appearance]="'outlined'">
            <mat-card-content>
                <app-subject-key-identifier [(config)]="subjectKeyIdentifier"></app-subject-key-identifier>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-stroked-button (click)="subjectKeyIdentifier = undefined"
                    [disabled]="subjectKeyIdentifier == null">Clear</button>
                <button mat-stroked-button
                    (click)="subjectKeyIdentifier = ExtensionsDefaults.SubjectKeyIdentifierExtension"
                    [disabled]="subjectKeyIdentifier != null">Default</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button color="accent" matStepperNext>Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>

    <mat-step [completed]="completedSubjectAlternativeName" [optional]="true">
        <ng-template matStepLabel>Subject Alternative Name
            <a href="/doc#SubjectAlternativeName" target="_blank" matTooltip="Open Documentation"
                aria-label="Open Documentation icon-button">(doc)</a>
        </ng-template>

        <mat-card [appearance]="'outlined'">
            <mat-card-content>
                <app-subject-alternative-name [(config)]="subjectAlternativeName"></app-subject-alternative-name>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-stroked-button (click)="subjectAlternativeName = undefined"
                    [disabled]="subjectAlternativeName == null">Clear</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button color="accent" matStepperNext>Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>

    <mat-step [completed]="completedKeyUsage" [optional]="true">
        <ng-template matStepLabel>Key Usage
            <a href="/doc#Purpose" target="_blank" matTooltip="Open Documentation"
                aria-label="Open Documentation icon-button">(doc)</a>
        </ng-template>

        <mat-card [appearance]="'outlined'">
            <mat-card-content>
                <app-key-usage [(config)]="keyUsage"></app-key-usage>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-stroked-button (click)="keyUsage = undefined" [disabled]="keyUsage == null">Clear</button>
                <button mat-stroked-button [matMenuTriggerFor]="keyUsageMenu"><span>Default</span></button>
                <mat-menu #keyUsageMenu="matMenu">
                    <button mat-menu-item (click)="keyUsage = ExtensionsDefaults.KeyUsageExtensionCa">
                        <span>Set default for CA</span>
                    </button>
                    <button mat-menu-item (click)="keyUsage = ExtensionsDefaults.KeyUsageExtensionServerAuth">
                        <span>Set default for ServerAuth</span>
                    </button>
                    <button mat-menu-item (click)="keyUsage = ExtensionsDefaults.KeyUsageExtensionClientAuth">
                        <span>Set default for ClientAuth</span>
                    </button>
                    <button mat-menu-item (click)="keyUsage = ExtensionsDefaults.KeyUsageExtensionCodeSign">
                        <span>Set default for CodeSign</span>
                    </button>
                    <button mat-menu-item (click)="keyUsage = ExtensionsDefaults.KeyUsageExtensionEmail">
                        <span>Set default for EmailProtection</span>
                    </button>
                    <button mat-menu-item (click)="keyUsage = ExtensionsDefaults.KeyUsageExtensionTimestamping">
                        <span>Set default for Timestamping</span>
                    </button>
                </mat-menu>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button color="accent" matStepperNext>Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>

    <mat-step [completed]="completedExtendedKeyUsage" [optional]="true">
        <ng-template matStepLabel>Extended Key Usage
            <a href="/doc#Purpose" target="_blank" matTooltip="Open Documentation"
                aria-label="Open Documentation icon-button">(doc)</a>
        </ng-template>

        <mat-card [appearance]="'outlined'">
            <mat-card-content>
                <app-extended-key-usage [(config)]="extendedKeyUsage"></app-extended-key-usage>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-stroked-button (click)="extendedKeyUsage = undefined"
                    [disabled]="extendedKeyUsage == null">Clear</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button color="accent" matStepperNext>Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>

    <mat-step [completed]="compeltedExtensions" [optional]="true">
        <ng-template matStepLabel>Extensions
            <a href="/doc#CertificateExtensions" target="_blank" matTooltip="Open Documentation"
                aria-label="Open Documentation icon-button">(doc)</a>
        </ng-template>

        <mat-card [appearance]="'outlined'">
            <mat-card-content>
                <app-extensions [(config)]="extensions"></app-extensions>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-stroked-button (click)="extensions = undefined"
                    [disabled]="extensions == null">Clear</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button color="accent" matStepperNext>Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>

    <mat-step [completed]="completedHashAlgorithm" [optional]="true">
        <ng-template matStepLabel>Hash Algorithm
            <a href="/doc#HashAlgorithm" target="_blank" matTooltip="Open Documentation"
                aria-label="Open Documentation icon-button">(doc)</a>
        </ng-template>

        <mat-card [appearance]="'outlined'">
            <mat-card-content>
                <app-hash-algorithm [(hashAlgorithm)]="hashAlgorithm"
                    [hint]="'The hash algorithm to use to sign the certificate.'"></app-hash-algorithm>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-stroked-button (click)="hashAlgorithm = undefined"
                    [disabled]="hashAlgorithm == null">Clear</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-flat-button color="accent" matStepperNext>Next</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>

    <mat-step [completed]="completedDone">
        <ng-template matStepLabel>Create</ng-template>

        <mat-card [appearance]="'outlined'">
            <mat-card-content>
                <span>If you are ready, click create.</span>
                <mat-form-field appearance="outline">
                    <mat-label>Container Format</mat-label>
                    <mat-select [(ngModel)]="accepts">
                        <mat-option
                            *ngFor="let enum of (MediaType | keyvalue).slice(0, (MediaType | keyvalue).length / 2)"
                            [value]="Number(enum.key)">
                            {{enum.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Encoding</mat-label>
                    <mat-select [value]="fileFormat">
                        <mat-option
                            *ngFor="let enum of (X509Encoding | keyvalue).slice(0, (X509Encoding | keyvalue).length / 2)"
                            [value]="Number(enum.key)">
                            {{enum.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <ng-container *ngIf="warnings.length > 0">
                    Warnings:
                    <ul>
                        <li *ngFor="let warning of warnings">{{ warning }}</li>
                    </ul>
                </ng-container>
                <p>
                    <button mat-stroked-button aria-label="Export config icon button" matTooltip="Export config"
                        (click)="export()"><mat-icon>download</mat-icon> Export</button>
                </p>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button [color]="completedDone ? '' : 'warn'" (click)="reset()">Reset</button>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" (click)="create()" [disabled]="!ready">Create</button>
            </mat-card-actions>
        </mat-card>
    </mat-step>
</mat-stepper>